<!doctype html>
<html>
  <head>
    <title>URSGA Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
    <body>
        <div class="header">
          <header>
           <a href="/"><h1>URSGA</h1></a>
           <div class="intro">University of Rochester Simulation Gaming Association</div>
         </header>
   </div>
    <nav class="menu" id="navMenu">
            <ul>
               <li><a href="index.html" class="active">Home</a></li>
               <li><a href="about.html">About/History</a></li>
               <li><a href="resources.html">Resources</a></li>
               <li><a href="officers.html">Officers</a></li>
               <li><a href="inventory">Inventory</a></li>
               <li><a href="ttrpg">RPGs</a></li>
               <li><a href="tcg">MTG/TCG</a></li>
               <li><a href="contact">Contact us</a></li>
            </ul>
         </nav>
          <div class="container">
            <section class="lead">
              <h2 class="welcome">Welcome to the Online Home of URSGA!</h2>
              <img src="images/ursgaad.jpg" alt="Old URSGA ad" style="height: 60%; width: 50%;">
              <img src="images/urbee.jpg" alt="Old UR bee logo">
            </section>
          </div>
         <div class="home">
        <footer>
         <h4>URSGA - Webmaster Nafix 👩🏻‍💻</h4>
       </footer>
       </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../static/script.js"></script>
    </body>
</html>