{% extends "layout.html" %}

{% block head %}
    <title>URSGA Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    {% endblock %}

    {% block content %}
          <div class="container">
            <section class="lead">
              <h2 class="welcome">Welcome to the Online Home of URSGA!</h2>
              <img src="images/ursgaad.jpg" alt="Old URSGA ad" style="height: 60%; width: 50%;">
              <img src="images/urbee.jpg" alt="Old UR bee logo">
            </section>
          </div>
    {% endblock %}