{% extends "layout.html" %}

  {% block head %}
    <title>URSGA Online - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    {% endblock %}

    {% block content %}
         <div class="container">
            <section class="lead" style="margin-bottom: 4em; width: 50%">
              <div class="content">
                <h2>URSGA Resources and Links</h2>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSesWP1AqiwufWhBcmAL1SU9rflL_FvdRvvNm1M81HXVKgT4pw/viewform">Board Game Request Form</a></h4>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoJ4L5jHfKN3KzeCkl-5BNG5zJG3GOCLHNhCFcgONobQ3eeA/viewform">RPG Campaign Announcement and Reservations</a></h4>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdF-Qnhr6t7w2d1OnWqS6cWRk93y6Xlf_-AZObzxZsV9rCDdA/viewform">URSGA Feedback</a></h4>
            </div>
            </section>
            <iframe src="ursgacons.pdf"></iframe>
          </div>
      {% endblock %}