<!doctype html>
<html>
  <head>
    <title>URSGA Online - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
    <body>
        <div class="header">
          <header>
           <a href="/"><h1>URSGA</h1></a>
           <div class="intro">University of Rochester Simulation Gaming Association</div>
         </header>
   </div>
    <nav class="menu" id="navMenu">
            <ul>
               <li><a href="index.html">Home</a></li>
               <li><a href="about.html">About/History</a></li>
               <li><a href="resources.html" class="active">Resources</a></li>
               <li><a href="officers.html">Officers</a></li>
               <li><a href="inventory">Inventory</a></li>
               <li><a href="ttrpg">RPGs</a></li>
               <li><a href="tcg">MTG/TCG</a></li>
               <li><a href="contact">Contact us</a></li>
            </ul>
         </nav>
         <div class="container">
            <section class="lead" style="margin-bottom: 4em; width: 50%">
              <div class="content">
                <h2>URSGA Resources and Links</h2>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSesWP1AqiwufWhBcmAL1SU9rflL_FvdRvvNm1M81HXVKgT4pw/viewform">Board Game Request Form</a></h4>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoJ4L5jHfKN3KzeCkl-5BNG5zJG3GOCLHNhCFcgONobQ3eeA/viewform">RPG Campaign Announcement and Reservations</a></h4>
              <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdF-Qnhr6t7w2d1OnWqS6cWRk93y6Xlf_-AZObzxZsV9rCDdA/viewform">URSGA Feedback</a></h4>
            </div>
            </section>
            <iframe src="ursgacons.pdf"></iframe>
          </div>
         <div class="home">
        <footer>
         <h4>URSGA - Webmaster Nafix 👩🏻‍💻</h4>
       </footer>
       </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../static/script.js"></script>
    </body>
</html>